.quote-container {
  justify-content: center;
  align-items: center;
}

.quote-option {
  display: flex;
}

.shares-input {
  width: 150px;
  height: 35px;
  padding-right: 10px;
  margin-left: 3px;
}

.dollar-option {
  margin-right: 240px;
  padding-top: 10px;
  font-size: 13px;
  justify-content: left;
  color: blue;
}


.dollar-option:hover {
  text-decoration: underline;
  cursor: pointer;
}

