.set-amount {
  margin-left: 10px;
  margin-top: 20px;
}

.bal-input-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.amount-title {
  margin-right: 10px;
  font-size: 20px;
}

.amount-input {
  width: 300px;
}

.amount-error {
  width: 40.5%;
  margin-top: 10px;
  margin-left: 315px

}



