.quote-option {
  display: flex;
}

.shares-input {
  width: 150px;
  margin-left: 3px;
}

.dollar-option {
  margin-left: 10px;
  margin-top: 4px;
  font-size: 13px;
  color: blue;
}

.dollar-option:hover {
  text-decoration: underline;
  cursor: pointer;
}